{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

<div class="col-sm-10 mt-5">
    <h3 class="display-4" style="font-weight: bold">About Page</h3><hr>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque cum cupiditate aperiam eaque magnam corrupti quia debitis vitae eius tempore sed suscipit in, veritatis ex ducimus, maxime pariatur corporis. Quas?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae quisquam magni similique incidunt illum! Aspernatur a veritatis molestias officiis voluptatibus.</p>
</div>

{% endblock content %}